{% extends 'agency/base_auth.html' %}

{% block content %}
<h2>Мои сделки</h2>
<p><a href="{% url 'agency:create_deal' %}">Оформить новую сделку</a></p>
{% if deals %}
<table border="1" cellpadding="6">
    <tr>
        <th>Тип</th>
        <th>Объект</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Сотрудник</th>
    </tr>
    {% for deal in deals %}
    <tr>
        <td>{{ deal.get_deal_type_display }}</td>
        <td>{{ deal.real_estate.title }}</td>
        <td>{{ deal.deal_date }}</td>
        <td>{{ deal.amount }}</td>
        <td>{{ deal.employee }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Сделок пока нет.</p>
{% endif %}
{% endblock %}
